div{
	background-color:black;
	padding:5px;
	height:30px;
	width:100%;
	
	}
	a{
	text-decoration:none;
     color:red;
    font-family:Verdana;
	font-size:20;
	padding-left:25px;
	padding-top:5px;
	padding-bottom:5px;
	
	}
	
	